Repository UB-ES-2020-Bikearent/BikeaRent, pull requests merged in 2020-12, with the labels that each got.

#106 Cambiada tematica de cada tipo de user y retringido algunos botones
  frontend/src/components/LlistatMotos.vue
Labels: FrontEnd

#136 Código de Backend reformateado y funcionando. Añadido .gitignore
  .gitignore
  backend/app.py
  backend/config.py
  backend/db.py
  backend/models/account.py
  backend/models/bike.py
  backend/models/booking.py
  backend/models/lock.py
  backend/resources/account.py
  backend/resources/bike.py
  backend/resources/booking.py
  backend/resources/login.py
Labels: BackEnd

#144 Changed parameters lockBike() method to match backend.
  frontend/src/components/LlistatMotos.vue
Labels: FrontEnd, bug

#146 Quitado try/except de post/put en resources/booking.py
  backend/resources/booking.py
Labels: BackEnd, bug

#149 Añadido try/except de post/put. Quitado limite string fecha.
  backend/models/booking.py
  backend/resources/booking.py
Labels: BackEnd, bug

#138 Barra nav
  frontend/src/components/Images/logoBK.png
  frontend/src/components/Images/logoBK_blanco.png
  frontend/src/components/Images/logoBK_blanco2.png
  frontend/src/components/LlistatMotos.vue
Labels: FrontEnd

#152 Geolocalizacion
  frontend/src/components/LlistatMotos.vue
Labels: FrontEnd

#154 Cambiado tipo de availableMoney a Float
  backend/models/account.py
  backend/models/booking.py
Labels: BackEnd, bug

#155 FE cancelar alquiler
  frontend/src/components/LlistatMotos.vue
Labels: FrontEnd
